* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #ff8d1c;
  transition: 0.1s;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

/* layout style */
.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  background: #fff;
  opacity: 0.97;
  border: 1px solid #efefef;
  padding: 1rem;
}

.header__menu {
  display: flex;
  justify-content: space-between;
}

.header__menu-logo--position {
  margin: auto 0;
}

.header__cross-icon--position {
  text-align: right;
}

.header__navigation {
  margin: auto 0;
}

.header__menu-item {
  font-size: 1rem;
  margin-left: 1rem;
  display: none;
}

.header__menu-mobile {
  position: absolute;
  width: 70%;
  height: 100vh;
  top: 0;
  background: #fff;
  transition: 0.2s;
  z-index: 10;
}

.header__menu-mobile--item {
  text-align: center;
  font-size: 1.3rem;
  margin: 2.5rem 0;
}

.header__cross-icon {
  margin: 1rem;
}

.open {
  right: 0px;
  transition: 0.15s;
}

.close {
  right: -500%;
  transition: 0.5s;
}

.hidden {
  display: none;
}

.header__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.main__section-img {
  min-height: 25rem;
}

.main__title {
  color: #ff8d1c;
  position: absolute;
  left: 0;
  right: 0;
  top: 16rem;
  text-align: center;
  font-size: 1.5rem;
  animation: fadeIn 0.9s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main__article-about,
.main__section-about {
  margin: 11rem 1rem;
}

.main__title-secondary {
  position: relative;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 4rem;
}

.main__paragraph {
  font-size: 1.1rem;
  text-align: justify;
  line-height: 2;
}

.main__dl {
  display: flex;
  border-bottom: 1px solid #efefef;
  margin-bottom: 1.8rem;
}

.main__dt-company {
  width: 8rem;
  font-size: 1rem;
  font-weight: bold;
}

.main__dt-contact {
  width: 14rem;
  font-size: 1rem;
  font-weight: bold;
}

.main__dd {
  width: 18rem;
  font-size: 1rem;
  padding-bottom: 0.5rem;
  text-align: justify;
}

.main__section-about .main__dl:nth-child(5) .main__dd {
  line-height: 2;
}

.footer {
  color: #ffa500;
  text-align: center;
  font-size: 0.8rem;
  padding: 1.1rem 0;
}

@media (min-width: 600px) {
  .header {
    padding: 1.4rem 0;
  }

  .header__menu {
    margin: 0 3rem;
  }

  .header__menu-icon {
    display: none;
  }

  .header__menu-item {
    margin-left: 1.5rem;
    font-size: 1.3rem;
    display: unset;
  }

  .main__section-img {
    min-height: 35rem;
  }

  .main__title {
    top: 22rem;
    font-size: 3rem;
  }

  .main__article-about,
  .main__section-about {
    margin: 15rem 3rem;
  }

  .main__title-secondary {
    font-size: 1.8rem;
  }

  .main__paragraph {
    text-align: center;
    font-size: 1.2rem;
  }

  .main__dt-company {
    width: 23.5rem;
    font-size: 1.5rem;
  }

  .main__dt-contact {
    width: 21rem;
    font-size: 1.5rem;
  }

  .main__dd {
    width: 25rem;
    font-size: 1.5rem;
  }

  .main__dl {
    margin-bottom: 2.5rem;
  }

  .footer {
    font-size: 1rem;
  }
}

@media (min-width: 1025px) {
  .header {
    padding: 2rem 0;
  }

  .header__menu {
    max-width: 1120px;
    margin: 0 auto;
  }

  .header__menu-item {
    margin-left: 2.1rem;
  }

  .header__navigation {
    margin: auto 0;
  }

  .main__section-img {
    min-height: 43rem;
  }

  .main__title {
    top: 25rem;
    font-size: 4.5rem;
  }

  .main__article-about,
  .main__section-about {
    max-width: 1120px;
    margin: 20rem auto;
  }

  .main__title-secondary {
    font-size: 1.8rem;
  }

  .main__paragraph {
    font-size: 1.3rem;
  }

  .main__dl {
    margin-bottom: 3rem;
  }

  .main__dt-company {
    width: 39rem;
    font-size: 1.5rem;
  }

  .main__dt-contact {
    width: 30rem;
    font-size: 1.5rem;
  }

  .main__dd {
    width: 60rem;
    font-size: 1.5rem;
  }

  .footer {
    font-size: 1rem;
    padding: 1.5rem 0;
  }
}
